<div class="tinymce-body" id="bike-rental.title">
  <%== get_text('bike-rental.title', '
<h1>Bike Rental in Mallorca</h1>
') %>
</div>

<div class="tinymce-body" id="bike-rental.body">
  <%== get_text('bike-rental.body', '
<p>We are pleased to be able to offer a range of hire bikes that are being hired out by Bikefriends Schon GmbH who are
  based in the Zafiro Palace Hotel in Alcudia. If you are joining us on one of our cycling holidays in the Spring or
  Autumn, you can hire a high-quality ROSE bike at the bike station at the Zafiro Palace Hotel. Thanks to Bikefriends
  Schon’s cooperation with one of the leading bike manufacturers, they
  have the latest and highest quality bikes on offer for you at favourable rates.</p>

<p>They will take care to ensure that you have a bike that is the right size and will advise on saddles etc. Their
  friendly mechanics in their own workshop ensure that chains. rims, spokes etc. are always in the best condition.</p>
') %>
</div>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  A final cleaning charge of €10 will also be charged.
</div>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  Please note that the bikes have no pedals – please bring your own pedals!
</div>

<h2>Team GF Six Disc Di2 Carbon Wheel – The Marathon Racer</h2>
<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-gf-six-disc', count: 2, alt: [
      'Team GF Six Disc Di2 Carbon Wheel',
      'Team GF Six Disc Di2 Carbon Wheel',
    ] } %>
    <p>This marathon racing bike with a sporty seating position. Ideal for everyone who is looking for a comfortable
      racing bike for distances of over 100km and does not want to forego "speed"! Its low weight (7.2kg) allows it to
      fly up the mountain and the snappy disc brakes (160mm v / h) also decelerate downhill without any problems. On the
      flat, its high-profile carbon rims provide powerful propulsion. Another highlight are the lightning-fast gear
      changes of the electronic gearshift from Shimano.</p>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fibre T40 / 60, HOC-Technology, from approx.
        890g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra Disc 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Sizes</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>

  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 28.50, 8 => 26, 11 => 23.50 } } %>
  </div>
</div>

<h2>Reveal Four Disc Carbon Wheel – The Comfort Racer</h2>
<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-reveal-four-disc', count: 2, alt: [
      'Reveal Four Disc Carbon Wheel',
      'Reveal Four Disc Carbon Wheel',
    ] } %>

    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Frame weight from 1020g Matt Carbon / Shiny Red 50cm or Shiny Flip Flop
        Blue-Violet / Shiny Neon Yellow
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34 165mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Ultegra CS-HG800-11 / 34 11-34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra ST-R8025 / BR-R8070 / SM-RT800 Ø160mm / Ø160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 25.50, 8 => 23, 11 => 20.50 } } %>
  </div>
</div>

<h2>Team GF Four Disc Carbon – The Upper Middle Class</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/gf-four-disc.jpg" alt="Team GF Four Disc Carbon">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fibre T30 / 40, HOC Technology, from approx.
        990g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra Disc 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 25.50, 8 => 23, 11 => 20.50 } } %>
  </div>
</div>

<h2>Rose Pro CGF / Rose Xeon Team CGF</h2>
<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-rose-pro', count: 2, alt: [
      'Rose Pro CGF / Rose Xeon Team CGF',
      'Rose Pro CGF / Rose Xeon Team CGF',
    ] } %>
    <p>These touring racers combine comfort with sporty ambition and offer a moderate geometry, comfortable seating
      position and are still light, stiff and fast!</p>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fibre T30, HOC-Technology, from approx. 1030g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra rim brake
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 51, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 20.50, 8 => 18, 11 => 15.50 } } %>
  </div>
</div>

<h2>The three entry-level bikes</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-entry-level', count: 5, alt: [
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
    ] } %>
    <h3>Xeon Team GF Alu</h3>
    <p>This entry-level model for relaxed road bike tours! The light aluminium frame with its slightly extended
      wheelbase provides the necessary stability for safe straight-line stability and a lot of comfort for long rides.
      If you are looking for a little more comfort: This bike is also available with straight handlebars!</p>
    <h3>Pro SL</h3>
    <p>This entry-level model in racing cycling! The Pro SL impresses with its light and agile aluminium frame. This
      model is also available with straight handlebars, as well as a special women’s racing bike or for smaller
      riders!</p>
    <h3>Xeon RS</h3>
    <p>Its super light aluminium frameset puts many carbon bikes in the shade! It impresses with its slightly stretched
      riding position with sufficient comfort even for longer rides. Its smooth handling makes sporty touring riders
      happy. The XEON RS is also available as a special women’s racing bike!</p>

    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Aluminium
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra rim brake
      </div>
    </div>

    <h4>Frame Sizes</h4>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON TEAM GF</span>: 48, 51, 53, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON TEAM GF straight handlebars</span>: 48, 51, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">PRO SL</span>: 48 (women + unisex), 51, 53, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">PRO SL straight handlebars</span>: 48, 51, 55, 57
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON RS</span>: 48 (women), 66
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 18.50, 8 => 16, 11 => 13.50 } } %>
  </div>
</div>

<h2>Rose Multistreet</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-rose-multistreet', count: 2, alt: [
      'Rose Pro CGF / Rose Xeon Team CGF',
      'Rose Pro CGF / Rose Xeon Team CGF',
    ] } %>
    <p>
      With this fitness bike you can travel quickly and comfortably! The snappy disc brakes (160 mm v / h) allow the
      Multistreet bike (available as a women’s and men’s model) to come to a safe stop even on fast descents or in wet
      conditions.
    </p>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: 6013 T6 / 2 aluminium, double end reinforced, from approx. 1450g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Deore LX FC-T671 48/36/26
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano SLX 10-speed 11/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra rim brake
      </div>
    </div>
    <h4>Frame Sizes</h4>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Multistreet men</span>: 19, 21, 23, 25 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Multistreet women</span>: 17, 19, 21 inches
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 16.50, 8 => 14, 11 => 11.50 } } %>
  </div>
</div>

<h2>X-TRA WATT / X-TRA WATT EVO and XEON EL</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-x-tra-watt', count: 2, alt: [
      'X-TRA WATT / X-TRA WATT EVO and XEON EL',
      'X-TRA WATT / X-TRA WATT EVO and XEON EL',
    ] } %>
    <h3>X-TRA Watt EVO</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Generation 3 Active Line Plus
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch PowerTube 500
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Disc Gear System
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Alfine 11-speed
      </div>
    </div>

    <h3>X-TRA Watt</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Active Line Plus
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch 400 or 500
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Disc Gear System
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Alfine gear 11-speed
      </div>
    </div>

    <h3>Xeon EL</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Power Line
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch 400
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano XT Disc Gear system
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano XT 10 gear
      </div>
    </div>

    <h3>Frame Sizes</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt women</span>: 17, 19, 21 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt unisex</span>: 19, 21, 23 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt Evo comfort</span>: 19 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt Evo unisex</span>: 21 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Xeon EL men</span>: 19 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Xeon EL unisex</span>: 17, 21 inches
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 27.50, 8 => 25, 11 => 22.50 } } %>
  </div>
</div>
