<%== erb :_tinymce, locals: { id: "bike-rental.title" } %>

<%== erb :_tinymce, locals: { id: "bike-rental.body" } %>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  A final cleaning charge of €10 will also be charged.
</div>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  Please note that the bikes have no pedals – please bring your own pedals!
</div>

<%== erb :_bike, locals: {
       name:   "XLITE 06 Ultegra Di2 2023/2025",
       blurb:  "The new XLITE 06 is the ultimate racing machine. The completely redesigned light and at the same " \
               "time stiff frame has been aerodynamically optimized. The significantly sportier seating position " \
               "(compared to the previous model) paired with the new ROSE RC SIXTY carbon wheels means that every " \
               "pedal turn can be translated into uncompromising propulsion.",
       data:   {
         handlebars:              "Carbon",
         frame:                   "Carbon",
         wheels_and_tyres:        "Carbon: ROSE RC SIXTY/28mm",
         groupset:                "Shimano Ultegra Di2 12-speed",
         chainrings_and_cassette: "52/36; 11-30",
         brake:                   "Shimano Ultegra Disc",
         weight:                  "57cm: 7.1kg",
         available_sizes:         "50, 53, 55, 57, 59, 62",
       },
       prices: [52, 104, 156, 191, 226, 251, 276, 306, 336, 366, 391, 416, 441, 466, 491],
     } %>

<%== erb :_bike, locals: {
    name:   "Reveal Six Ultegra Di2",
    blurb:  "Anyone who enjoys technology will love the Reveal Six Disc Di2. The newly shaped and elegant carbon " \
        "frame fits perfectly with the new Shimano Ultergra Di2 8050.",
    data:   {
        handlebars:              "Carbon",
        frame:                   "Carbon",
        wheels_and_tyres:        "Carbon",
        groupset:                "Shimano Ultegra Di2 11-speed",
        chainrings_and_cassette: "50/34; 11-34",
        brake:                   "Shimano Ultegra Disc",
        weight:                  "57cm: 7.6kg",
        available_sizes:         "50, 53, 55, 57, 59, 61, 64",
    },
    prices: [48, 96, 144, 176, 208, 230, 252, 279, 306, 333, 355, 377, 399, 421, 443],
} %>

<%== erb :_bike, locals: {
       name:   "XLITE 06 Ultegra Di2 2022",
       blurb:  "Even though the successor is already on the market, this bike is far from being a thing of the past. " \
               "In the meantime: The ROSE carbon wheels (fifty or forty) make the bike a perfect “climber” that even " \
               "crosswinds can’t do much harm.",
       data:   {
         handlebars:       "Carbon",
         frame:            "Carbon",
         wheels_and_tyres: "Carbon: Front: ROSE RC FOURTY HR: ROSE RC FIFTY / 28mm",
         switching_group:  "Shimano Ultegra Di2 11-speed",
         translation:      "52/36; 11-32",
         brake:            "Shimano Ultegra Disc",
         weight:           "57cm: 7.2kg",
         available_sizes:  "53, 55, 62",
       },
       prices: [48, 96, 144, 176, 208, 230, 252, 279, 306, 333, 355, 377, 399, 421, 443],
     } %>

<%== erb :_bike, locals: {
    name:   "Reveal 04 AXS",
    blurb:  "An elegant endurance bike for extensive, comfort-oriented long-distance use. This model is equipped " \
        "with the electronic SRAM Force AXS groupset.",
    data:   {
        handlebars:             "Carbon",
        frame:                  "Carbon",
        wheels_and_tyres:       "R-Thirty Light",
        groupset:               "Sram Force 12-speed",
        chainring_and_cassette: "50/34; 11-34",
        brake:                  "Sram Force AXS D2",
        weight:                 "57cm: 7.8kg",
        available_sizes:        "50, 53, 57",
    },
    prices: [46, 92, 138, 168, 198, 218, 238, 263, 288, 313, 333, 353, 373, 393, 413],
} %>

<%== erb :_bike, locals: {
       name:   "Reveal 04 Ultegra Di2",
       blurb:  "The REVEAL 04 already features the new electronic 12-speed gears from Shimano. In combination with " \
               "the light ROSE R-THIRTY LIGHT wheelset, nothing stands in the way of chasing kilometers and altitude.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Carbon",
         wheels_and_tyres:        "ROSE R-THIRTY LIGHT / 28mm",
         groupset:                "Shimano Ultegra Di2 12-speed",
         chainrings_and_cassette: "50/34; 11-34",
         brake:                   "Shimano Ultegra Disc",
         weight:                  "57cm: 7.6kg",
         available_sizes:         "50, 53, 55, 57, 59",
       },
       prices: [46, 92, 138, 168, 198, 218, 238, 263, 288, 313, 333, 353, 373, 393, 413],
     } %>

<%== erb :_bike, locals: {
       name:   "Reveal 04 Disc",
       blurb:  "The comfort racer",
       data:   {
         handlebars:              "Aluminium",
         frame:                   "Carbon",
         wheels_and_tyres:        "ROSE R THIRTY DISC ALU 28mm",
         groupset:                "Shimano Ultegra or 105 11-speed",
         chainrings_and_cassette: "50/34; 11-34",
         brake:                   "Shimano Ultegra Disc or 105 Disc",
         available_sizes:         "50, 53, 55, 57, 59, 61, 64",
       },
       prices: [42, 84, 126, 151, 176, 196, 216, 236, 256, 276, 292, 308, 324, 340, 356],
     } %>

<%== erb :_bike, locals: {
       name:   "Team GF 04 Disc",
       blurb:  "Made for long distances, the TEAM GF 04 is the perfect companion for your rides.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Carbon",
         wheels_and_tyres:        "ROSE R-THIRTY / 28mm",
         groupset:                "Shimano Ultegra 11-speed",
         chainrings_and_cassette: "50/34; 11-32",
         brake:                   "Shimano Ultegra Disc",
         available_sizes:         "50, 53, 55, 57, 59, 61, 64",
       },
       prices: [42, 84, 126, 151, 176, 196, 216, 236, 256, 276, 292, 308, 324, 340, 356],
     } %>

<%== erb :_bike, locals: {
       name:   "XLITE 04 Disc",
       blurb:  "The Tramuntana Mountains are exactly the right area for this bike! The XLITE 04 is comfortable and " \
               "fast at the same time. Perfect for tough climbs and fast descents.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Carbon",
         wheels_and_tyres:        "ROSE R-THIRTY / 28mm",
         groupset:                "Shimano Ultegra 11-speed",
         chainrings_and_cassette: "52/36; 11-32",
         brake:                   "Shimano Ultegra Disc",
         available_sizes:         "53, 55, 57, 62",
       },
       prices: [42, 84, 126, 151, 176, 196, 216, 236, 256, 276, 292, 308, 324, 340, 356],
     } %>

<%== erb :_bike, locals: {
       name:   "PRO SL Disc Aluminum Road Bike",
       blurb:  "The PRO SL DISC Ultegra is the perfect bike for the cycling enthusiasts who want more. It is made of " \
               "torsion-resistant aluminium with elegantly ground seams, which give the bike a modern carbon look. " \
               "The geometry is relaxed and the more upright, energy-saving sitting position gives you advantages, " \
               "especially on long distances.",
       data:   {
         handlebars:              "Aluminium",
         frame:                   "Aluminium",
         wheels_and_tyres:        "ROSE R-25 or DT SWISS 1850 Aluminium 25-28mm",
         groupset:                "Shimano Ultegra or 105",
         chainrings_and_cassette: "50/34; 11-32",
         brake:                   "Shimano Ultegra Disc or 105 Disc",
         available_sizes:          "45, 48, 51, 53, 55, 57, 59, 61, 63, 65",
       },
       prices: [33, 66, 99, 119, 139, 154, 169, 184, 199, 214, 224, 234, 244, 254, 264],
     } %>

<%== erb :_bike, locals: {
       name:   "PRO SL Aluminum",
       blurb:  "Price-performance? – Outstanding! The PRO SL is our entry-level model into the world of road " \
               "cycling.A comfortable long-distance racer. This bike is also available with straight handlebars!",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Aluminum",
         wheels_and_tyres:        "DT SWISS 1850/25mm",
         groupset:                "Shimano 105 or Shimano Ultegra",
         chainrings_and_cassette: "50/34; 11-32",
         brake:                   "Shimano 105 or Shimano Ultegra",
         weight:                  "57cm: 8.8kg",
         available_sizes:         "45, 48, 51, 65",
       },
       prices: [33, 66, 99, 119, 139, 154, 169, 184, 199, 214, 224, 234, 244, 254, 264],
     } %>

<%== erb :_bike, locals: {
       name:   "Backroad Plus and Backroad Plus Di2",
       data:   [
         {
           title:                   "Backroad Plus",
           handlebars:              "Aluminum",
           frame:                   "Carbon",
           wheels_and_tyres:        "DT SWISS HG 1800/30 or 32mm",
           groupset:                "Shimano GRX-RX 600",
           chainrings_and_cassette: "42; 11-32",
           brake:                   "Shimano GRX-RX 600 or 400 Disc",
           motor:                   "Shimano EP8 360WH",
           weight:                  "15.0kg",
           available_sizes:         "52, 56, 58, 60"
         },
         {
           title:                   "Backroad Plus Di2",
           handlebars:              "Carbon",
           frame:                   "Carbon",
           wheels_and_tyres:        "ROSE G THIRTY Disc Light",
           groupset:                "Shimano GRX-RX RX810 Di2",
           chainrings_and_cassette: "42; 11-42",
           brake:                   "Shimano GRX-ST RX815/BR-RX810",
           motor:                   "Shimano EP8 360WH",
           weight:                  "14.3kg",
           available_sizes:         "52, 56, 58, 60"
         },
       ],
       prices: [46, 92, 138, 168, 198, 218, 238, 258, 278, 298, 316, 334, 352, 370, 388],
     } %>

<%== erb :_bike, locals: {
       name:   "Multistreet 2 Men",
       blurb:  "Even though it is of course not a gravel bike, this bike is fast and cuts a fine figure even off " \
               "asphalt roads.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Aluminum",
         wheels_and_tyres:        "ROSE R-THIRTY / 37mm or 40mm",
         groupset:                "Shimano GRX 600 or 400 2-speed; 10 speed",
         chainrings_and_cassette: "46/30; 11-34",
         brake:                   "Shimano BL-MT 200 Disc",
         weight:                  "approx. 9.6kg",
         available_sizes:         "19in, 21in, 23in, 25in",
       },
       prices: [25, 50, 75, 95, 115, 130, 145, 160, 175, 190, 200, 210, 220, 230, 240],
     } %>

<%== erb :_bike, locals: {
       name:   "Multistreet 2 Mid Step",
       blurb:  "Even though it is of course not a gravel bike, this bike is fast and cuts a fine figure even off " \
               "asphalt roads.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Aluminum",
         wheels_and_tyres:        "ROSE R-THIRTY / 37mm or 40mm",
         groupset:                "Shimano GRX 600 or 400 2-speed; 10 speed",
         chainrings_and_cassette: "46/30; 11-34",
         brake:                   "Shimano BL-MT 200 Disc",
         weight:                  "approx. 9.6kg",
         available_sizes:         "17in, 19in, 21in",
       },
       prices: [25, 50, 75, 95, 115, 130, 145, 160, 175, 190, 200, 210, 220, 230, 240],
     } %>

<%== erb :_bike, locals: {
       name:   "XTRA Watt EVO PLUS 1 ALLROAD Mid Step",
       blurb:  "Discover the beautiful island comfortably and relaxed. With the XTRA Watt EVO PLUS 1 ALLROAD, even " \
               "more demanding tours are possible for riders who are not quite as sporty or trained. With a range of " \
               "up to 100 km (depending on various factors), even more distant and mountainous destinations are no " \
               "problem.",
       data:   {
         handlebars:              "Aluminum",
         frame:                   "Aluminum",
         wheels_and_tyres:        "RYDE RIVAL 27.5 * 2.4 /62mm",
         groupset:                "Shimano Deore XT or SLX",
         chainrings_and_cassette: "42; 11-42",
         brake:                   "Shimano BL MT 200 Disc",
         motor_and_battery:       "BOSCH Performance Line Gen. 3/500Wh",
         weight:                  "approx. 24.7kg",
         available_sizes:         "17in, 19in, 21in, 23in, 25in",
       },
       prices: [46, 92, 138, 168, 198, 218, 238, 258, 278, 298, 316, 334, 352, 370, 388],
     } %>

<%== erb :_bike, locals: {
       name:   "XTRA Watt EVO PLUS 2 Low Step",
       blurb:  "Discover the beautiful island comfortably and relaxed. With the XTRA WATT EVO PLUS 2, even more " \
               "demanding tours are possible for riders who are not quite as sporty or trained. With a range of up " \
               "to 100 km (depending on various factors), even more distant and mountainous destinations are no " \
               "problem.",
       data:   {
         handlebars:        "Aluminum",
         frame:             "Aluminum",
         wheels_and_tyres:  "RYDE RIVAL 27.5 * 2.4 /62mm",
         switching_group:   "Shimano Alfine 11-speed",
         translation:       "24; Gates Carbon Drive",
         brake:             "Shimano BL MT 200 Disc",
         motor_and_battery: "BOSCH Active Line PLUS Gen. 3/500Wh",
         weight:            "approx. 26.6kg",
         available_sizes:   "17in, 19in, 21in",
       },
       prices: [46, 92, 138, 168, 198, 218, 238, 258, 278, 298, 316, 334, 352, 370, 388],
     } %>

<%== erb :_bike, locals: {
  name:   "XTRA Watt EVO PLUS 2 Low Step",
  blurb:  "Discover the beautiful island comfortably and relaxed. With the XTRA WATT EVO PLUS 2, even more demanding " \
    "tours are possible for riders who are not quite as sporty or trained. With a range of up to 100 km (depending " \
    "on various factors), even more distant and mountainous destinations are no problem.",
  data:   {
    handlebars:        "Aluminum",
    frame:             "Aluminum",
    wheels_and_tyres:  "RYDE RIVAL 27.5 * 47mm",
    switching_group:   "Shimano Alfine 11-speed",
    translation:       "24; Gates Carbon Drive",
    brake:             "Shimano BL MT 200 Disc",
    motor_and_battery: "BOSCH Active Line PLUS Gen. 3/500Wh",
    weight:            "approx. 26.6kg",
    available_sizes:   "19in",
  },
  prices: [46, 92, 138, 168, 198, 218, 238, 258, 278, 298, 316, 334, 352, 370, 388],
} %>
