<%== erb :_tinymce, locals: { id: 'bike-rental.title' } %>

<%== erb :_tinymce, locals: { id: 'bike-rental.body' } %>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  A final cleaning charge of €10 will also be charged.
</div>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  Please note that the bikes have no pedals – please bring your own pedals!
</div>

<h2>Reveal Six Disc Di2</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/reveal-six-disc.png" alt="Reveal Six Disc Di2">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fiber T40 / 60, HOC-Technology, from approx.
        920g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-HG800-11 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra ST-R8025/BR-R8070, 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Sizes</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>

  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 41, 2 => 37, 3 => 33, 4 => 31, 8 => 30, 11 => 28 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Team GF Six Disc Di2</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/gf-six-disc.png" alt="Team GF Six Disc Di2">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fiber T40/60, HOC technology, from approx.
        890g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra Disc 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Handlebar</span>: Ritchey WCS Streem Carbon black/matt 40cm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Sizes</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>

  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 41, 2 => 37, 3 => 33, 4 => 31, 8 => 30, 11 => 28 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Reveal Four Disc Carbon Wheel</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/reveal-four-disc-carbon-wheel.png"
         alt="Reveal Four Disc Carbon Wheel">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Frame weight from 1020g Matt Carbon / Shiny Red 50cm or
        Shiny Flip Flop Blue-Violet / Shiny Neon Yellow
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34 165mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Ultegra CS-HG800-11 / 34 11-34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra ST-R8025 / BR-R8070 / SM-RT800 Ø160mm / Ø160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 37, 2 => 33.5, 3 => 30, 4 => 28, 8 => 27, 11 => 26 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Rose Team GF Four Disc Carbon</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/reveal-four-disc-carbon-wheel.png" alt="Rose Team GF Four Disc Carbon">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fiber T30 / 40, HOC Technology, from approx. 990g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra Disc 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 37, 2 => 33.5, 3 => 30, 4 => 28, 8 => 27, 11 => 26 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>PRO SL Disc Aluminum Road Bike</h2>
<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/pro-sl-disc-aluminium.png" alt="PRO SL Disc Aluminum Road Bike">
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Rose PRO SL DISC, aluminum, 12×142, PF86, from approx. 1,350 g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra ST-R8025/BR-R8070, 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Size</span>: 51, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 28, 2 => 25.5, 3 => 22, 4 => 21, 8 => 19, 11 => 18 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Rose Aluminium Bikes</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-entry-level', count: 5, alt: [
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
      'The three entry-level bikes',
    ] } %>
    <p>
      Our three entry-level models
    </p>
    <h3>Xeon Team GF Alu</h3>
    <p>Our entry-level model for relaxed road bike tours! The light aluminum frame with its slightly extended wheelbase
      provides the necessary stability for safe straight-line stability and a lot of comfort for long tours. A real bike
      for a Gran Fondo (GF). If you are looking for a little more comfort: This bike is also available with straight
      handlebars!</p>
    <h3>Pro SL</h3>
    <p>Our entry-level model in racing cycling! The Pro SL impresses with its light and agile aluminum frame. It’s not
      for nothing that Wieselflink won it in some test magazines. This model is also available with straight handlebars,
      as well as a special women's racing bike or for smaller riders!</p>
    <h3>Xeon RS</h3>
    <p>The Roadbike magazine rated our Alu-Racer in 2017: very good + test winner. Its super light aluminum frameset
      puts many carbon bikes in the shade! ”It impresses with its slightly stretched riding position with sufficient
      comfort even for longer tours. Its smooth handling makes sporty touring riders happy. The XEON RS is also
      available as a special women's racing bike!</p>

    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Aluminium
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra rim brake
      </div>
    </div>

    <h4>Frame Sizes</h4>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON TEAM GF</span>: 48, 51, 53, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON TEAM GF straight handlebars</span>: 48, 51, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">PRO SL</span>: 48 (women + unisex), 51, 53, 55, 57, 59, 61, 63
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">PRO SL straight handlebars</span>: 48, 51, 55, 57
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">XEON RS</span>: 48 (women), 66
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 28, 2 => 25.5, 3 => 22, 4 => 21, 8 => 19, 11 => 18 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Rose Multistreet</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-rose-multistreet', count: 3, alt: [
      'Rose Multistreet',
      'Rose Multistreet',
      'Rose Multistreet',
    ] } %>
    <h3>Multistreet White</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: 6013 T6/2 aluminium, double butted, from approx. 1450g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Deore LX FC-T671 48/36/26
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano SLX 10-speed 11/34
      </div>
    </div>
    <h3>Multistreet Fitness</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: 6013 T6/2 aluminium, double butted, from approx. 1490g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano GRX 600, FC-RX600-10, 46/30T
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano CS-HG500-10, 11-34
      </div>
    </div>
    <h3>Multistreet Trekking</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: 6013 T6/2 aluminium, double butted, from approx. 1490g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano CS-HG500-10, 11-34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Mudguard</span>: Alumee incl. luggage rack (load up to 8 kg per side), black
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Headlight</span>: Supernova E3 Pure 3, parking light function, 70 lux, matt black
      </div>
    </div>
    <h4>Frame Sizes</h4>
    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Multistreet Ladies</span>: 17, 19, 21
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Multistreet Men:</span>: 19, 21, 23, 25
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 25, 2 => 22.5, 3 => 20, 4 => 19.5, 5 => 19, 8 => 18, 11 => 17 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Xtra Watt EVO Unisex E-Bikes</h2>

<div class="row mb-3">
  <div class="col-8">
    <%== erb :_carousel, locals: { path: 'bike-x-tra-watt', count: 2, alt: [
      'X-TRA WATT / X-TRA WATT EVO and XEON EL',
      'X-TRA WATT / X-TRA WATT EVO and XEON EL',
    ] } %>
    <h3>X-TRA Watt EVO</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Generation 3 Active Line Plus
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch PowerTube 500
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Disc Gear
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Alfine 11-speed
      </div>
    </div>

    <h3>X-TRA Watt</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Active Line Plus
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch 400 or 500
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Disc Gear System
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Alfine gear 11-speed
      </div>
    </div>

    <h3>Xeon EL</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Bosch Power Line
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: Bosch 400
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano XT Disc Gear system
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano XT 10 gear
      </div>
    </div>

    <h3>Frame Sizes</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt women</span>: 17, 19, 21 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt unisex</span>: 19, 21, 23 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt Evo comfort</span>: 19 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">X-TRA Watt Evo unisex</span>: 21 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Xeon EL men</span>: 19 inches
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Xeon EL unisex</span>: 17, 21 inches
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 35, 4 => 33.75, 5 => 30, 8 => 29, 11 => 28 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<h2>Backroad+ E-Gravel Bike</h2>

<div class="row mb-3">
  <div class="col-8">
    <img class="img-fluid mb-3 mx-auto d-block" src="/img/bikes/backroad-e-gravel.png" alt="PRO SL Disc Aluminum Road Bike">

    <h3>Backroad+</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Rose BACKROAD+, carbon
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano SLX CS-M7000 11-42
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Shimano EP8, 85Nm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: 360Wh
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Tyres</span>: Pirelli Cinturato™ GRAVEL M, TLR, Classic Skin 700x45C
      </div>
    </div>

    <h3>Backroad+ Randonneur</h3>
    <div class="list-group bg-transparent mb-3">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: Rose BACKROAD+, carbon
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano SLX CS-M7000 11-42
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Drive</span>: Shimano EP8, 85Nm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Battery</span>: 360Wh
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Tyres</span>: Continental Terra Speed ​​Protection 40-622
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Mudguard</span>: Alumee with luggage stays (load up to 8 kg per side)
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Headlight and taillight</span>
      </div>
    </div>
  </div>
  <div class="col-4">
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 41, 4 => 39.5, 5 => 38, 8 => 34, 11 => 32 } } %>
    <div class="d-grid gap-2">
      <a href="https://form.jotform.com/213474517078359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
