<%== erb :_tinymce, locals: { id: "guides.title" } %>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/darryl-leese.jpg">
  <%== erb :_tinymce, locals: { id: "guides.darryl" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/liz-rooney.jpg">
  <%== erb :_tinymce, locals: { id: "guides.liz" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/robbie-harcourt.jpg">
  <%== erb :_tinymce, locals: { id: "guides.robbie" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/tim-ball.jpg">
  <%== erb :_tinymce, locals: { id: "guides.tim" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/melissa-dowell.jpg">
  <%== erb :_tinymce, locals: { id: "guides.melissa" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/debra-peck.jpg">
  <%== erb :_tinymce, locals: { id: "guides.debra" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/al-spurden.jpg">
  <%== erb :_tinymce, locals: { id: "guides.al" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/david-hunter.jpg">
  <%== erb :_tinymce, locals: { id: "guides.david" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/steve-tucker.png">
  <%== erb :_tinymce, locals: { id: "guides.steve" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/chris-hazael.jpg">
  <%== erb :_tinymce, locals: { id: "guides.chris" } %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/bruce-mackie.jpg">
  <%== erb :_tinymce, locals: { id: "guides.bruce" } %>
</div>
